.MainHud {
    width: 100%;
    height: 100%;
}

#Lifes {
    horizontal-align: center;
    flow-children: right;
}

.Life {
    height: 80px;
    width: 80px;
}

.LifeImage {
    width: 80px;
    height: 80px;
}

.LifePresent {
    background-color: green;
}

.LifeMissing {
    background-color: red;
}